# Bibliotecas de Teste
pytest
pytest-asyncio
httpx

# Ferramentas de Desenvolvimento
black       # Para formatar o código (opcional, mas recomendado)
flake8      # Para checar erros de sintaxe (opcional)